# SF-DAT-21 | Lab 02

[Note: This was a quiz given in Roger Peng [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).]

In [2]:
import os
import pandas as pd

df = pd.read_csv(os.path.join('..', 'datasets', 'ozone.csv'))

## 0. Display the dataset's head

In [11]:
df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2
2     12      149  12.6    74      5    3
3     18      313  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

## 1. Print the column names of the dataset to the screen, one column name per line

In [5]:
for i in df.columns:
    print i

Ozone
Solar.R
Wind
Temp
Month
Day

## 2. Extract the first 2 rows of the data frame and print them to the console. What does the output look like?

In [6]:
df[:2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2

## 3. How many observations (i.e., rows) are in this data frame?

153

## 4. Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [8]:
df[-2:]

     Ozone  Solar.R  Wind  Temp  Month  Day
151     18      131   8.0    76      9   29
152     20      223  11.5    68      9   30

## 5. What is the value of Ozone in the 47th row?

In [9]:
df.Ozone[46]

21.0

## 6. How many missing values are in the Ozone column of this data frame?

In [30]:
df.Ozone.isnull().sum()

37

## 7. What is the mean of the Ozone column in this dataset?  Exclude missing values (coded as NA) from this calculation

In [39]:
df.Ozone.mean()

42.12931034482759

## 8. Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values are above 90.  What is the mean of Solar.R in this subset?

In [48]:
subset=df[(df.Ozone > 31) & (df.Temp > 90)]
subset

     Ozone  Solar.R  Wind  Temp  Month  Day
68      97      267   6.3    92      7    8
69      97      272   5.7    92      7    9
119     76      203   9.7    97      8   28
120    118      225   2.3    94      8   29
121     84      237   6.3    96      8   30
122     85      188   6.3    94      8   31
123     96      167   6.9    91      9    1
124     78      197   5.1    92      9    2
125     73      183   2.8    93      9    3
126     91      189   4.6    93      9    4

In [50]:
subset['Solar.R'].mean()

212.8

## 9. What is the mean of Temp when Month is equal to 6?

In [58]:
df[df['Month']==6]['Temp'].mean()

79.1

## 10. What was the maximum Ozone value in the month of May (i.e. Month = 5)?

In [60]:
df[df['Month']==5]['Ozone'].max()

115.0